<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
  <script>
    var socket = io("http://10.11.22.179:5000")
    socket.on('connect',function(){
      socket.send("user has connected")
    });
    socket.on('message',function(msg){
      document.getElementById("demo").innerHTML = msg;
    });
    
  </script>
  <p id="demo">hello</p>
</body>
</html>